/.phpunit.cache
/node_modules
/public/hot
/vendor
.env
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed