/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
/* Esconde a seta de input de número (spin buttons) */

/* Para navegadores WebKit (Chrome, Safari, Opera) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para o Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

html {
    scrollbar-gutter: stable;
}
